.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
img.logo {
    width: 150px;
    height: auto;
  }
  .navbar .logo{
    width: max(10%,80px);
  }
  .navbar .profile{
    width: 40px;
  }